@import "../fonts/font";

@mixin base {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Rubik;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin base-sub-text {
  color: rgba(79, 86, 101, 1);
  font-weight: 400;
  line-height: 30px;
}

@mixin base-title($size: 25px, $weit: 500) {
  color: #0B132A;
  font-weight: $weit;
  font-size: $size;
}
