@font-face {
  font-family: "Rubik";
  src: url("./fonts/Rubik-Medium.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Rubik;
}

header {
  margin: 50px auto 0 auto;
  width: 80%;
}
@media (max-width: 1600px) {
  header {
    width: 95%;
  }
}
header .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  header .container {
    justify-content: space-around;
  }
}
header .container .glawn {
  display: flex;
  flex-direction: row;
}
header .container .glawn .title {
  margin: 6px 0 6px 10px;
}
header .container .about-nav {
  display: flex;
  flex-direction: row;
  gap: 40px;
  color: rgb(79, 86, 101);
  font-weight: 400;
  line-height: 30px;
}
header .container .about-nav-md {
  display: none;
  top: 6rem;
  position: absolute;
  right: 30px;
  flex-direction: column;
  gap: 10px;
  animation: fadeIn 0.4s ease-in-out forwards;
  background-color: #e3e3e3;
  padding: 1rem;
  border-radius: 10px;
}
@keyframes fadeIn {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
header .container .hamburger {
  display: none;
  order: 3;
}
header .container .hamburger img {
  width: 2rem;
  height: 2rem;
}
header .container .login-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}
@media (max-width: 480px) {
  header .container .login-nav {
    position: absolute;
    top: 5.5rem;
  }
}
header .container .login-nav .sign-up {
  color: #F53855;
  padding: 13px 45px;
  border: 1px solid #F53855;
  border-radius: 50px;
  box-shadow: 0 2px 5px #d5d5d5;
}

main {
  width: 80%;
  margin: 120px auto 0 auto;
}
@media (max-width: 1600px) {
  main {
    width: 95%;
  }
}
main .start {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main .start .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  main .start .container {
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }
}
main .start .container .info {
  display: flex;
  flex-direction: column;
  width: 555px;
  color: #0B132A;
}
@media (max-width: 768px) {
  main .start .container .info {
    width: 95%;
  }
}
main .start .container .info .title {
  font-size: 50px;
  font-weight: 500;
}
main .start .container .info .title .laser {
  font-weight: 700;
}
main .start .container .info .sub-text {
  color: rgb(79, 86, 101);
  font-weight: 400;
  line-height: 30px;
  margin-top: 20px;
}
main .start .container .info .sub-text .bold {
  font-weight: 600;
}
main .start .container .info .button {
  margin-top: 50px;
}
main .start .container .info .button .get-started {
  color: #FFFFFF;
  background-color: #F53838;
  height: 60px;
  width: 250px;
  border: none;
  border-radius: 10px;
  font-weight: 500;
}
main .start .container .info .button .shadow {
  position: relative;
  bottom: 60px;
  left: 20px;
  width: 211.83px;
  height: 60px;
  border-radius: 10px;
  box-shadow: 0 20px 20px rgba(245, 56, 56, 0.35);
}
main .start .container .foto img {
  width: 100%;
}
main .start .bottom {
  display: flex;
  flex-direction: column;
}
main .start .bottom .features {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1140px;
  margin: 103px auto 0 auto;
  border-radius: 10px;
}
@media (max-width: 1280px) {
  main .start .bottom .features {
    width: 90%;
  }
}
@media (max-width: 670px) {
  main .start .bottom .features {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
  }
}
main .start .bottom .features .users, main .start .bottom .features .locations, main .start .bottom .features .servers {
  display: flex;
  flex-direction: row;
  gap: 36px;
}
main .start .bottom .features .users img, main .start .bottom .features .locations img, main .start .bottom .features .servers img {
  width: 55px;
  height: 55px;
}
main .start .bottom .features .users .count, main .start .bottom .features .locations .count, main .start .bottom .features .servers .count {
  color: #0B132A;
  font-weight: 700;
  font-size: 25px;
  padding-bottom: 5px;
}
main .start .bottom .features .users .name, main .start .bottom .features .locations .name, main .start .bottom .features .servers .name {
  color: rgb(79, 86, 101);
  font-weight: 400;
  line-height: 30px;
  font-size: 20px;
}
main .start .bottom .features .left {
  border-left: 2px solid rgb(238, 239, 242);
  height: 125px;
}
@media (max-width: 670px) {
  main .start .bottom .features .left {
    display: none;
  }
}
main .start .bottom .features .right {
  border-right: 2px solid rgb(238, 239, 242);
  height: 125px;
}
@media (max-width: 670px) {
  main .start .bottom .features .right {
    display: none;
  }
}
main .start .bottom .shadow-bottom {
  margin: 0 auto;
  position: relative;
  bottom: 150px;
  opacity: 0.06;
  border-radius: 10px;
  width: 1200px;
  height: 189px;
  box-shadow: 0 20px 20px rgb(13, 16, 37);
}
@media (max-width: 1280px) {
  main .start .bottom .shadow-bottom {
    width: 95%;
  }
}
@media (max-width: 670px) {
  main .start .bottom .shadow-bottom {
    display: none;
  }
}
main .plan-info {
  margin: 0 auto;
}
main .plan-info .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  main .plan-info .container {
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
  }
}
main .plan-info .container .photo img {
  width: 100%;
}
main .plan-info .container .info {
  width: 383px;
}
main .plan-info .container .info .title {
  color: #0B132A;
  font-weight: 500;
  font-size: 35px;
}
main .plan-info .container .info .sub-text {
  color: rgb(79, 86, 101);
  font-weight: 400;
  line-height: 30px;
  margin-top: 20px;
  line-height: 30px;
}
main .plan-info .container .info .features .feature {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  gap: 10px;
  margin-top: 20px;
  line-height: 30px;
  color: rgb(79, 86, 101);
  font-weight: 400;
  line-height: 30px;
}
@media (max-width: 480px) {
  main .plan-info .container .info {
    width: 95%;
  }
}
main .pricing .container {
  display: flex;
  flex-direction: column;
  margin: 210px auto 0 auto;
}
@media (max-width: 768px) {
  main .pricing .container {
    margin: 100px auto 0 auto;
  }
}
main .pricing .container .info {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 20px;
}
main .pricing .container .info .title {
  margin: 0 auto;
  text-align: center;
  width: 383px;
  color: #0B132A;
  font-weight: 500;
  font-size: 35px;
}
@media (max-width: 480px) {
  main .pricing .container .info .title {
    width: 95%;
  }
}
main .pricing .container .info .sub-text {
  color: rgb(79, 86, 101);
  font-weight: 400;
  line-height: 30px;
  width: 555px;
  line-height: 30px;
  text-align: center;
}
@media (max-width: 600px) {
  main .pricing .container .info .sub-text {
    width: 95%;
  }
}
main .pricing .container .plans {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}
@media (max-width: 768px) {
  main .pricing .container .plans {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
main .pricing .container .plans .plan {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid rgb(221, 221, 221);
  border-radius: 10px;
  width: 330px;
  height: 760px;
}
@media (max-width: 768px) {
  main .pricing .container .plans .plan {
    height: auto;
  }
}
main .pricing .container .plans .plan .plan-img {
  margin: 80px auto 30px auto;
}
@media (max-width: 768px) {
  main .pricing .container .plans .plan .plan-img {
    margin: 30px auto;
  }
}
main .pricing .container .plans .plan .title {
  color: #0B132A;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 30px;
}
main .pricing .container .plans .plan .ficha {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
main .pricing .container .plans .plan .ficha .features {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
main .pricing .container .plans .plan .ficha .features .feature {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
main .pricing .container .plans .plan .ficha .features .feature .text {
  color: rgb(79, 86, 101);
  font-weight: 400;
  line-height: 30px;
  font-size: 14px;
}
main .pricing .container .plans .plan .ficha .price {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .pricing .container .plans .plan .ficha .price .izolator {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  font-size: 25px;
  gap: 5px;
}
main .pricing .container .plans .plan .ficha .price .izolator .cost {
  color: #0B132A;
  font-weight: 500;
  font-size: 25px;
}
main .pricing .container .plans .plan .ficha .price .izolator .time {
  color: rgb(79, 86, 101);
  font-weight: 400;
  line-height: 30px;
}
main .pricing .container .plans .plan .ficha .price .button {
  margin-bottom: 50px;
}
main .pricing .container .plans .plan .ficha .price .button .select {
  border: 2px solid rgb(245, 56, 56);
  border-radius: 50px;
  color: rgb(245, 56, 56);
  padding: 13px 60px;
  font-weight: 700;
  background: transparent;
}
main .pricing .container .plans .plan .ficha .price .button .select:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(245, 56, 56);
}
main .pricing .container .plans .plan .ficha .price .button .select:active {
  color: rgb(255, 255, 255);
  background-color: rgb(197, 43, 43);
}
main .pricing .container .plans .plan .ficha .price .button .selected {
  color: rgb(255, 255, 255);
  background-color: rgb(245, 56, 56);
}
main .pricing .container .plans .red-border {
  border: 2px solid rgb(245, 56, 56);
}
main .map {
  margin-top: 150px;
}
main .map .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
main .map .text .title {
  color: #0B132A;
  font-weight: 500;
  font-size: 35px;
  width: 383px;
  text-align: center;
}
@media (max-width: 600px) {
  main .map .text .title {
    width: 95%;
  }
}
main .map .text .sub-text {
  color: rgb(79, 86, 101);
  font-weight: 400;
  line-height: 30px;
  width: 555px;
  text-align: center;
}
main .map .text .sub-text .weit {
  font-weight: 500;
}
@media (max-width: 600px) {
  main .map .text .sub-text {
    width: 95%;
  }
}
main .map .map-image {
  margin: 150px auto 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .map .map-image img {
  width: 1060px;
}
@media (max-width: 1280px) {
  main .map .map-image img {
    width: 100%;
  }
}
main .map .contact {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  justify-content: space-between;
  width: 1130px;
  height: 208px;
  margin: 0 auto;
}
@media (max-width: 1280px) {
  main .map .contact {
    width: 95%;
    height: auto;
  }
}
@media (max-width: 1180px) {
  main .map .contact {
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
  }
}
@media (max-width: 768px) {
  main .map .contact {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 480px) {
  main .map .contact {
    grid-template-columns: repeat(1, 1fr);
  }
}
main .ocena {
  width: 1300px;
  margin: 42px auto 0 auto;
}
@media (max-width: 1600px) {
  main .ocena {
    width: 95%;
  }
}
main .ocena .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
main .ocena .text .title {
  color: #0B132A;
  font-weight: 500;
  font-size: 35px;
  width: 447px;
  text-align: center;
}
@media (max-width: 600px) {
  main .ocena .text .title {
    width: 95%;
  }
}
main .ocena .text .sub-text {
  color: rgb(79, 86, 101);
  font-weight: 400;
  line-height: 30px;
  width: 555px;
  text-align: center;
}
@media (max-width: 600px) {
  main .ocena .text .sub-text {
    width: 95%;
  }
}
main .ocena .cards {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}
main .ocena .cards .card {
  width: 400px;
  padding: 30px;
  border: 2px solid rgb(221, 221, 221);
  border-radius: 1rem;
  background-color: #FFF;
  animation: wisible 0.4s ease-out forwards;
}
@keyframes wisible {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
main .ocena .cards .card .rating-shadow {
  position: absolute;
  z-index: -1;
  width: 318px;
  height: 224px;
  box-shadow: 0 50px 60px rgb(245, 56, 56);
  opacity: 0.06;
}
@media (max-width: 1100px) {
  main .ocena .cards .card .rating-shadow {
    display: none;
  }
}
main .ocena .cards .card .content .personal-data {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
main .ocena .cards .card .content .personal-data .data {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
main .ocena .cards .card .content .personal-data .data .name .username {
  font-weight: 500;
}
main .ocena .cards .card .content .personal-data .data .name .region {
  font-weight: 400;
  font-size: 14px;
  color: rgb(79, 86, 101);
}
main .ocena .cards .card .content .personal-data .rating {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
main .ocena .cards .card .content .text {
  line-height: 30px;
  color: rgb(11, 19, 42);
}
main .ocena .cards .hid-card {
  display: none;
}
main .ocena .cards .red-rating-border {
  border: 2px solid rgb(245, 56, 56);
}
main .ocena .slider {
  margin-top: 82px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-right: 170px;
}
main .ocena .slider .points {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
main .ocena .slider .points .point {
  width: 15px;
  height: 15px;
  background-color: rgb(221, 224, 228);
  border-radius: 50%;
}
main .ocena .slider .points .point:hover {
  background-color: rgb(245, 56, 56);
  cursor: pointer;
}
main .ocena .slider .points .check-point {
  width: 45px;
  height: 15px;
  background-color: rgb(245, 56, 56);
  border-radius: 50px;
  transition: width 0.3s;
}
main .ocena .slider .slide-btn {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
main .ocena .slider .slide-btn .prev, main .ocena .slider .slide-btn .next {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid rgb(245, 56, 56);
}
main .ocena .slider .slide-btn .prev {
  background-image: url("../../Public/prev-red.svg");
  background-repeat: no-repeat;
  background-position: center;
}
main .ocena .slider .slide-btn .prev:hover {
  background-color: rgb(245, 56, 56);
  background-image: url("../../Public/prev-white.svg");
}
main .ocena .slider .slide-btn .prev:active {
  background-color: rgb(209, 50, 50);
}
main .ocena .slider .slide-btn .next {
  background-image: url("../../Public/next-red.svg");
  background-repeat: no-repeat;
  background-position: center;
}
main .ocena .slider .slide-btn .next:hover {
  background-color: rgb(245, 56, 56);
  background-image: url("../../Public/next-white.svg");
}
main .ocena .slider .slide-btn .next:active {
  background-color: rgb(209, 50, 50);
}
main .subscribe {
  position: relative;
  top: 100px;
  background-color: rgb(255, 255, 255);
  margin: 72px auto 0 auto;
  width: 1140px;
  z-index: 1000;
  border-radius: 10px;
}
@media (max-width: 1280px) {
  main .subscribe {
    width: 95%;
  }
}
@media (max-width: 530px) {
  main .subscribe {
    height: auto;
  }
}
main .subscribe .sub-shadow {
  margin: auto;
  width: 1140px;
  height: 233px;
  border-radius: 10px;
  position: absolute;
  box-shadow: 0 100px 100px rgb(13, 16, 37);
  opacity: 0.09;
  background: transparent;
}
@media (max-width: 530px) {
  main .subscribe .sub-shadow {
    height: auto;
  }
}
@media (max-width: 1280px) {
  main .subscribe .sub-shadow {
    width: 100%;
  }
}
main .subscribe .sub-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 70px;
  height: 233px;
}
@media (max-width: 530px) {
  main .subscribe .sub-content {
    padding: 0;
  }
}
@media (max-width: 860px) {
  main .subscribe .sub-content {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
}
main .subscribe .sub-content .text {
  display: flex;
  flex-direction: column;
  width: 410px;
  gap: 20px;
}
@media (max-width: 530px) {
  main .subscribe .sub-content .text {
    width: 95%;
  }
}
main .subscribe .sub-content .text .title {
  color: #0B132A;
  font-weight: 500;
  font-size: 35px;
}
main .subscribe .sub-content .text .sub-text {
  color: rgb(79, 86, 101);
  font-weight: 400;
  line-height: 30px;
}
main .subscribe .sub-content .button {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .subscribe .sub-content .button .subscribe-btn {
  width: 250px;
  height: 60px;
  color: rgb(255, 255, 255);
  background-color: rgb(245, 56, 56);
  font-weight: 600;
  border: none;
  border-radius: 10px;
}
@media (max-width: 860px) {
  main .subscribe .sub-content .button .subscribe-btn {
    margin-bottom: 2rem;
  }
}
main .subscribe .sub-content .button .sub-btn-shadow {
  position: absolute;
  width: 211px;
  height: 60px;
  box-shadow: 0 20px 54px rgba(245, 56, 56, 0.35);
}

footer {
  height: 563px;
  background-color: rgb(248, 248, 248);
  z-index: -1000;
  margin-bottom: 360px;
  padding: 150px 180px;
}
@media (max-width: 768px) {
  footer {
    height: auto;
  }
}
@media (max-width: 1300px) {
  footer {
    padding: 100px 80px;
  }
}
footer .footer-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 1140px;
  margin: 69px auto 0 auto;
  justify-content: space-between;
}
@media (max-width: 1600px) {
  footer .footer-content {
    width: 100%;
  }
}
@media (max-width: 768px) {
  footer .footer-content {
    display: flex;
    flex-direction: column;
    gap: 100px;
  }
}
footer .footer-content .global-info {
  display: flex;
  flex-direction: column;
}
@media (max-width: 768px) {
  footer .footer-content .global-info {
    order: 2;
  }
}
footer .footer-content .global-info .title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
footer .footer-content .global-info .title .logo-text {
  font-size: 24px;
}
footer .footer-content .global-info .title .logo-text .vpn {
  font-weight: 700;
}
footer .footer-content .global-info .sub-text {
  color: rgb(79, 86, 101);
  font-weight: 400;
  line-height: 30px;
  width: 340px;
  margin-top: 20px;
}
footer .footer-content .global-info .items {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 30px;
}
footer .footer-content .global-info .items .item {
  width: 36px;
  height: 36px;
  background-color: rgb(245, 56, 56);
  border-radius: 50%;
}
footer .footer-content .global-info .description {
  margin-top: 30px;
  color: rgb(79, 86, 101);
  font-weight: 400;
  line-height: 30px;
  opacity: 0.5;
}
footer .footer-content .global-info .description .desc-vpn {
  font-weight: 600;
}
footer .footer-content .social {
  display: flex;
  flex-direction: row;
  gap: 126px;
}
@media (max-width: 1024px) {
  footer .footer-content .social {
    gap: 40px;
  }
}
footer .footer-content .social .merge {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
footer .footer-content .social .merge .title {
  color: rgb(11, 19, 42);
  font-size: 18px;
  font-weight: 500;
}
footer .footer-content .social .merge .context {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer .footer-content .social .merge .context .sub-text {
  color: rgb(79, 86, 101);
  font-weight: 400;
  line-height: 30px;
}

/*# sourceMappingURL=style.css.map */
