@import "styles/variables";

* {
  @include base;
}

header, main {
  max-width: 1300px;
}

header {
  margin: 50px auto 0 auto;

  .container {
    @include flex-row;
    align-items: center;
    justify-content: space-between;
    @include adaptive(md){
      justify-content: space-around;
    }

    .glawn {
      @include flex-row;

      .title {
        margin: 6px 0 6px 10px;
      }
    }

    .about-nav {
      @include flex-row;
      gap: 40px;
      @include base-sub-text;
    }

    .about-nav-md {
      display: none;
      top: 6rem;
      position: absolute;
      right: 30px;
      flex-direction: column;
      gap: 10px;
      animation: fadeIn .4s ease-in-out forwards;
      background-color: #e3e3e3;
      padding: 1rem;
      border-radius: 10px;

      div {
        padding: 3px 5px;
        border-radius: 4px;
        &:hover {
          background-color: #bfbdbd;
        }
      }

      @keyframes fadeIn {
        0%{
          transform: translateY(-50px);
          opacity: 0;
        }
        100%{
          transform: translateY(0px);
          opacity: 1;
        }
      }
    }

    .hamburger {
      display: none;
      order: 3;
      img {
        width: 2rem;
        height: 2rem;
      }
    }

    .login-nav {
      @include flex-row;
      align-items: center;
      gap: 30px;
      @include adaptive(xs){
        position: absolute;
        top: 5.5rem;
      }

      .sign-up {
        color: #F53855;
        padding: 13px 45px;
        border: 1px solid #F53855;
        border-radius: 50px;
        box-shadow: 0 2px 5px #d5d5d5;
      }
    }
  }
}

main {
  margin: 120px auto 0 auto;

  .start {
    @include flex-column;
    justify-content: space-between;

    .container {
      @include flex-row;
      justify-content: space-between;
      @include adaptive(md){
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
      }

      .info {
        @include flex-column;
        width: 555px;
        color: #0B132A;
        @include adaptive(sm){
          width: 95%;
        }

        .title {
          font-size: 50px;
          font-weight: 500;

          .laser {
            font-weight: 700;
          }
        }

        .sub-text {
          @include base-sub-text;
          margin-top: 20px;

          .bold {
            font-weight: 600;
          }
        }

        .button {
          margin-top: 50px;

          .get-started {
            color: #FFFFFF;
            background-color: #F53838;
            height: 60px;
            width: 250px;
            border: none;
            border-radius: 10px;
            font-weight: 500;
          }

          .shadow {
            position: relative;
            bottom: 60px;
            left: 20px;
            width: 211.83px;
            height: 60px;
            border-radius: 10px;
            box-shadow: 0 20px 20px rgba(245, 56, 56, 0.35);
          }
        }
      }
      .foto {
        img {
          width: 100%;
        }
      }
    }

    .bottom {
      @include flex-column;

      .features {
        @include flex-row;
        justify-content: space-between;
        width: 1140px;
        margin: 103px auto 0 auto;
        border-radius: 10px;
        @include adaptive(lg){
          width: 90%;
        }
        @include moreAdaptive(670px) {
          @include flex-column;
          row-gap: 20px;
          align-items: center;

          .users, .locations, .servers {
            width: 180px;
          }
        }

        .users, .locations, .servers {
          @include flex-row;
          gap: 36px;

          img {
            width: 55px;
            height: 55px;
          }

          .count {
            @include base-title(25px, 700);
            padding-bottom: 5px;
          }

          .name {
            @include base-sub-text;
            font-size: 20px;
          }
        }

        .left {
          border-left: 2px solid rgba(238, 239, 242, 1);
          height: 125px;
          @include moreAdaptive(670px) {
            display: none;
          }
        }

        .right {
          border-right: 2px solid rgba(238, 239, 242, 1);
          height: 125px;
          @include moreAdaptive(670px) {
            display: none;
          }
        }
      }

      .shadow-bottom {
        margin: 0 auto;
        position: relative;
        bottom: 150px;
        opacity: .06;
        border-radius: 10px;
        width: 1200px;
        height: 189px;
        box-shadow: 0 20px 20px rgba(13, 16, 37, 1);
        @include adaptive(lg){
          width: 95%;
        }
        @include moreAdaptive(670px) {
          display: none;
        }
      }
    }
  }

  .plan-info {
    margin: 0 auto;

    .container {
      @include flex-row;
      justify-content: space-between;
      @include adaptive(md){
        flex-direction: column;
        align-items: center;
        row-gap: 40px;
      }

      .photo {
        img {
          width: 100%;
        }
      }
      .info {
        width: 383px;
        @include flex-column;
        justify-content: end;

        .title {
          @include base-title(35px);
        }

        .sub-text {
          @include base-sub-text;
          margin-top: 20px;
          line-height: 30px;
        }

        .features {
          .feature {
            @include flex-row;
            font-size: 14px;
            gap: 10px;
            margin-top: 20px;
            line-height: 30px;
            @include base-sub-text;
          }
        }

        @include adaptive(xs){
          width: 95%;
        }
      }
    }
  }

  .pricing {
    .container {
      @include flex-column;
      margin: 210px auto 0 auto;
      @include adaptive(sm) {
        margin: 100px auto 0 auto;
      }

      .info {
        @include flex-column;
        margin: 0 auto;
        gap: 20px;

        .title {
          margin: 0 auto;
          text-align: center;
          width: 383px;
          @include base-title(35px);
          @include adaptive(xs){
            width: 95%;
          }
        }

        .sub-text {
          @include base-sub-text;
          width: 555px;
          line-height: 30px;
          text-align: center;

          @include moreAdaptive(600px){
            width: 95%;
          }
        }
      }

      .plans {
        margin-top: 60px;
        @include flex-row;
        justify-content: space-between;
        gap: 1rem;
        @include adaptive(sm) {
          @include flex-column;
          align-items: center;
        }

        .plan {
          @include flex-column;
          align-items: center;
          border: 2px solid rgba(221, 221, 221, 1);
          border-radius: 10px;
          width: 330px;
          height: 760px;
          @include adaptive(sm) {
            height: auto;
          }

          .plan-img {
            margin: 80px auto 30px auto;
            @include adaptive(sm) {
              margin: 30px auto;
            }
          }

          .title {
            @include base-title(18px);
            margin-bottom: 30px;
          }

          .ficha {
            align-items: center;
            @include flex-column;
            justify-content: space-between;
            height: 100%;

            .features {
              @include flex-column;
              gap: 10px;

              .feature {
                @include flex-row;
                gap: 20px;

                .text {
                  @include base-sub-text;
                  font-size: 14px;
                }
              }
            }

            .price {
              @include flex-column;
              align-items: center;

              .izolator {
                @include flex-row;
                align-items: center;
                margin-bottom: 20px;
                font-size: 25px;
                gap: 5px;

                .cost {
                  @include base-title;
                }

                .time {
                  @include base-sub-text;
                }
              }

              .button {
                margin-bottom: 50px;

                .select {
                  border: 2px solid rgba(245, 56, 56, 1);
                  border-radius: 50px;
                  color: rgba(245, 56, 56, 1);
                  padding: 13px 60px;
                  font-weight: 700;
                  background: transparent;

                  &:hover {
                    color: rgba(255, 255, 255, 1);
                    background-color: rgba(245, 56, 56, 1);
                  }

                  &:active {
                    color: rgba(255, 255, 255, 1);
                    background-color: rgb(197, 43, 43);
                  }
                }

                .selected {
                  color: rgba(255, 255, 255, 1);
                  background-color: rgba(245, 56, 56, 1);
                }
              }

              .is-shadow {
                position: absolute;
                width: 164px;
                height: 45px;
                border-radius: 50px;
                box-shadow: 0 15px 40px rgba(245, 56, 56, 0.35);
                z-index: -1000;
              }
            }
          }
        }

        .red-border {
          border: 2px solid rgba(245, 56, 56, 1);
        }
      }
    }
  }

  .map {
    margin-top: 150px;

    .text {
      @include flex-column;
      align-items: center;
      gap: 20px;

      .title {
        @include base-title(35px);
        width: 383px;
        text-align: center;

        @include moreAdaptive(600px){
          width: 95%;
        }
      }

      .sub-text {
        @include base-sub-text;
        width: 555px;
        text-align: center;

        .weit {
          font-weight: 500;
        }
        @include moreAdaptive(600px){
          width: 95%;
        }
      }
    }

    .map-image {
      margin: 150px auto 0 auto;
      @include flex-column;
      align-items: center;
      img {
        width: 1060px;
        @include adaptive(lg) {
          width: 100%;
        }
      }
    }

    .contact {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      align-items: center;
      justify-content: space-between;
      width: 1130px;
      height: 208px;
      margin: 0 auto;
      @include adaptive(lg) {
        width: 95%;
        height: auto;
      }
      @include moreAdaptive(1180px) {
        grid-template-columns: repeat(3, 1fr);
        text-align: center;
      }
      @include adaptive(sm) {
        grid-template-columns: repeat(2, 1fr);
      }
      @include adaptive(xs) {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }

  .ocena {
    width: 1300px;
    margin: 42px auto 0 auto;
    @include adaptive(xxl) {
      width: 95%;
    }

    .text {
      @include flex-column;
      align-items: center;
      gap: 20px;

      .title {
        @include base-title(35px);
        width: 447px;
        text-align: center;
        @include moreAdaptive(600px){
          width: 95%;
        }
      }

      .sub-text {
        @include base-sub-text;
        width: 555px;
        text-align: center;
        @include moreAdaptive(600px){
          width: 95%;
        }
      }
    }

    .cards {
      margin-top: 60px;
      @include flex-row;
      justify-content: space-between;
      gap: 1rem;

      .card {
        width: 400px;
        padding: 30px;
        border: 2px solid rgba(221, 221, 221, 1);
        border-radius: 1rem;
        background-color: #FFF;
        animation: wisible .4s ease-out forwards;

        @keyframes wisible {
          0%{
            transform: translateX(100px);
            opacity: 0;
          }
          100%{
            transform: translateX(0px);
            opacity: 1;
          }
        }

        .rating-shadow {
          position: absolute;
          z-index: -1;
          width: 318px;
          height: 224px;
          box-shadow: 0 50px 60px rgba(245, 56, 56, 1);
          opacity: .06;
          @include moreAdaptive(1100px){
            display: none;
          }
        }

        .content {
          .personal-data {
            @include flex-row;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;

            .data {
              @include flex-row;
              align-items: center;
              gap: 20px;

              .name {
                .username {
                  font-weight: 500;
                }

                .region {
                  font-weight: 400;
                  font-size: 14px;
                  color: rgba(79, 86, 101, 1);
                }
              }
            }

            .rating {
              @include flex-row;
              gap: 10px;
            }
          }

          .text {
            line-height: 30px;
            color: rgba(11, 19, 42, 1);
          }
        }
      }

      .hid-card {
        display: none;
      }

      .red-rating-border {
        border: 2px solid rgba(245, 56, 56, 1);
      }
    }

    .slider {
      margin-top: 82px;
      @include flex-row;
      align-items: center;
      justify-content: space-between;
      margin-right: 170px;

      .points {
        @include flex-row;
        gap: 15px;

        .point {
          width: 15px;
          height: 15px;
          background-color: rgba(221, 224, 228, 1);
          border-radius: 50%;

          &:hover {
            background-color: rgba(245, 56, 56, 1);
            cursor: pointer;
          }
        }

        .check-point {
          width: 45px;
          height: 15px;
          background-color: rgba(245, 56, 56, 1);
          border-radius: 50px;
          transition: width 0.3s;
        }
      }

      .slide-btn {
        @include flex-row;
        gap: 20px;

        .prev, .next {
          width: 60px;
          height: 60px;
          border-radius: 50%;
          border: 2px solid rgba(245, 56, 56, 1);
        }

        .prev {
          background-image: url("../../Public/prev-red.svg");
          background-repeat: no-repeat;
          background-position: center;

          &:hover {
            background-color: rgba(245, 56, 56, 1);
            background-image: url("../../Public/prev-white.svg");
          }

          &:active {
            background-color: rgb(209, 50, 50);
          }
        }

        .next {
          background-image: url("../../Public/next-red.svg");
          background-repeat: no-repeat;
          background-position: center;

          &:hover {
            background-color: rgba(245, 56, 56, 1);
            background-image: url("../../Public/next-white.svg");
          }

          &:active {
            background-color: rgb(209, 50, 50);
          }
        }
      }
    }
  }

  .subscribe {
    position: relative;
    top: 100px;
    background-color: rgba(255, 255, 255, 1);
    margin: 72px auto 0 auto;
    width: 1140px;
    z-index: 1000;
    border-radius: 10px;
    @include adaptive(lg) {
      width: 95%;
    }
    @include moreAdaptive(530px) {
      height: auto;
    }

    .sub-shadow {
      margin: auto;
      width: 1140px;
      height: 233px;
      @include moreAdaptive(530px) {
        height: auto;
      }
      border-radius: 10px;
      position: absolute;
      box-shadow: 0 100px 100px rgba(13, 16, 37, 1);
      opacity: .09;
      background: transparent;
      @include adaptive(lg) {
        width: 100%;
      }
    }

    .sub-content {
      @include flex-row;
      align-items: center;
      justify-content: space-between;
      padding: 0 70px;
      @include moreAdaptive(530px) {
        padding: 0;
      }
      height: 233px;
      @include moreAdaptive(860px) {
        @include flex-column;
        gap: 40px;
      }

      .text {
        @include flex-column;
        width: 410px;
        gap: 20px;
        @include moreAdaptive(530px) {
          width: 95%;
        }

        .title {
          @include base-title(35px);
        }

        .sub-text {
          @include base-sub-text;
        }
      }

      .button {
        @include flex-column;
        align-items: center;

        .subscribe-btn {
          width: 250px;
          height: 60px;
          color: rgba(255, 255, 255, 1);
          background-color: rgba(245, 56, 56, 1);
          font-weight: 600;
          border: none;
          border-radius: 10px;
          @include moreAdaptive(860px) {
            margin-bottom: 2rem;
          }
        }

        .sub-btn-shadow {
          position: absolute;
          width: 211px;
          height: 60px;
          box-shadow: 0 20px 54px rgba(245, 56, 56, 0.35);
        }
      }
    }
  }
}

footer {
  margin: 0 auto 360px auto;
  width: 100%;
  height: 563px;
  background-color: rgba(248, 248, 248, 1);
  z-index: -1000;
  padding: 150px 180px;
  @include moreAdaptive(1300px) {
    padding: 100px 80px;
  }
  @include adaptive(sm) {
    height: auto;
  }


  .footer-content {
    @include flex-row;
    align-items: center;
    margin: 69px auto 0 auto;
    justify-content: space-between;
    @include adaptive(xxl) {
      width: 100%;
    }
    @include adaptive(sm) {
      @include flex-column;
      gap: 100px;
    }

    .global-info {
      @include flex-column;
      @include adaptive(sm) {
        order: 2;
      }

      .title {
        @include flex-row;
        align-items: center;
        gap: 10px;

        .logo-text {
          font-size: 24px;

          .vpn {
            font-weight: 700;
          }
        }
      }

      .sub-text {
        @include base-sub-text;
        width: 340px;
        margin-top: 20px;
      }

      .items {
        @include flex-row;
        gap: 20px;
        margin-top: 30px;

        .item {
          width: 36px;
          height: 36px;
          background-color: rgba(245, 56, 56, 1);
          border-radius: 50%;
        }
      }

      .description {
        margin-top: 30px;
        @include base-sub-text;
        opacity: .5;

        .desc-vpn {
          font-weight: 600;
        }
      }
    }

    .social {
      @include flex-row;
      gap: 126px;
      @include adaptive(md) {
        gap: 40px;
      }

      .merge {
        @include flex-column;
        gap: 20px;

        .title {
          color: rgba(11, 19, 42, 1);
          font-size: 18px;
          font-weight: 500;
        }

        .context {
          @include flex-column;
          gap: 10px;

          .sub-text {
            @include base-sub-text;
          }
        }
      }
    }
  }
}